<header class="nav-container">
  <nav class="nav-bar-container">
    <a href="#" class="logo-container">
      <img src="assets/Logo-2.svg" alt="Logo" class="Logo">
      <div class="logo-text">
        VELOCE<br>
        COFFEE SHOP
      </div>
    </a>
    <div>
      <a href="#" class="shopping-cart-container">
        <div class="basket-img-container">
          <img src="assets/Shopping-Cart.svg" alt="Shopping Cart" class="basket-icon">
        </div>
        <div class="shopping-cart-text">
          Shopping<br>
          Cart
        </div>
      </a>
    </div>
  </nav>
</header>

