.nav-container {
  background-color: #FFFFFF;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1440px;
  padding: 24px 32px;
  margin: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-top: 4px;
  color: #023A6B;
  font: 700 24px/120% Eczar;
  margin-left: 8px;
  transition: 0.5s;
}

.logo-text:hover {
  color: #FF7733;
}

a {
  text-decoration: none;
}

.shopping-cart-container {
  display: flex;
  align-items: center;
}

.basket-img-container {
  position: relative;
  width: 40px;
}

.shopping-cart-text {
  color: #023A6B;
  font: 700 16px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
  transition: 0.5s;
  margin-left: 16px;
}

.shopping-cart-text:hover {
  color: #FF7733;
}

.shopping-cart-container img {
  margin-right: 16px;
}

@media only screen and (max-width: 412px) {
  .logo-text {
    color: #023A6B;
    font-family: Eczar;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-left: 8px;
    transition: 0.5s;
  }
  .basket-icon {
    width: 40px;
    height: 40px;
  }
  .Shopping-Cart-Container {
    width: 40px;
  }
  .header-wrapper {
    max-width: unset;
  }
  .shopping-cart-text {
    display: none;
    transition: 0.5s;
  }
}
