<!--<div class="product-list container-padding ">-->
<!--<article class="cart" *ngFor="let text of textList; let i=index">-->
<!--  <div class="img-container">-->
<!--    <img [src]="text.img" alt="Product2">-->
<!--    <ng-container *ngIf="text.spinnerImg">-->
<!--      <img [src]="text.spinnerImg" alt="Product1" class="Stamp">-->
<!--    </ng-container>-->
<!--  </div>-->

<!--  <div class="name-price-container">-->
<!--    <h2>{{text.name}}</h2>-->
<!--    <span class="price">${{text.discount}}</span>-->
<!--  </div>-->
<!--  <div class="options-container">-->
<!--    <div class="option-container">-->
<!--      <input type="radio" [name]="text.radioName" [id]="text.radioId1" value="250" checked>-->
<!--      <label [for]="text.radioId1">250 ml</label>-->
<!--    </div>-->

<!--    <div class="option-container">-->
<!--      <input type="radio" [name]="text.radioName" [id]="text.radioId2" value="500">-->
<!--      <label [for]="text.radioId2">500 ML</label>-->
<!--    </div>-->

<!--    <div class="option-container">-->
<!--      <input type="checkbox" [id]="text.checkBoxName" name="Sugar">-->
<!--      <label [for]="text.checkBoxName">-->
<!--        Add sugar-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="buttons-container">-->
<!--    <button class="prm-btn" (click)="showMessage(i + 1)">Add to Cart</button>-->
<!--    <img src="assets/Info.svg" alt="Info" class="info-button">-->
<!--  </div>-->
<!--</article>-->
<!--</div>-->
<div class="product-list container-padding">
  <article class="cart" *ngFor="let text of textList; let i=index">
    <div class="cart__img-container">
      <img [src]="text.img" alt="Product2" class="cart__img">
      <ng-container *ngIf="text.spinnerImg">
        <img [src]="text.spinnerImg" alt="Product1" class="cart__stamp">
      </ng-container>
    </div>

    <div class="cart__name-price-container">
      <h2 class="cart__name">{{text.name}}</h2>
      <span class="cart__price">${{text.discount}}</span>
    </div>
    <div class="cart__options-container">
      <div class="cart__option-container">
        <input type="radio" [name]="text.radioName" [id]="text.radioId1" value="250" checked>
        <label [for]="text.radioId1" class="cart__label">250 ml</label>
      </div>

      <div class="cart__option-container">
        <input type="radio" [name]="text.radioName" [id]="text.radioId2" value="500">
        <label [for]="text.radioId2" class="cart__label">500 ML</label>
      </div>

      <div class="cart__option-container">
        <input type="checkbox" [id]="text.checkBoxName" name="Sugar">
        <label [for]="text.checkBoxName" class="cart__label">
          Add sugar
        </label>
      </div>
    </div>
    <div class="cart__buttons-container">
      <button class="cart__prm-btn" (click)="showMessage(i + 1)">Add to Cart</button>
      <img src="assets/Info.svg" alt="Info" class="cart__info-button">
    </div>
    <div class="cart__article-shape"></div>
  </article>

</div>


