.container {
  max-width: 960px;
  margin: 64px auto 64px;
}

.header-wrapper {
  max-width: 720px;
}

h1 {
  color: #023A6B;
  font: 700 48px/120% Eczar, sans-serif;
}

.special-word {
  font: 700 48px/120% Eczar;
  color: #F73;
}

.product-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

@media only screen and (max-width: 769px) {
  .container {
    padding: 0 24px;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media only screen and (max-width: 412px) {
  .cart-container {
    width: 100%;
  }
  .cart-container:last-child .cart__article-shape {
    border: 1px solid blue;
  }
  h1 {
    color: #023A6B;
    font-family: Eczar;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .product-list {
    margin-top: 40px;
  }
  .special-word {
    color: #F73;
    font-family: Eczar;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

}
