

.container {
  max-width: 960px;
  margin: 64px auto 0;
}

.header-wrapper {
  max-width: 720px;
}

h1 {
  color: #023A6B;
  font: 700 48px/120% Eczar, sans-serif;
}

.special-word {
  font: 700 48px/120% Eczar;
  color: #F73;
}

@media only screen and (max-width: 769px) {
  .container {
    padding: 0 24px;
  }
}

@media only screen and (max-width: 412px) {
  h1 {
    color: #023A6B;
    font-family: Eczar;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .special-word {
    color: #F73;
    font-family: Eczar;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
}
