.product-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.container-padding {
  margin-bottom: 64px;
}

.cart {
  max-width: 624px;
  position: sticky;
}
.button-left {
  left: 0;
}

.button-right {
  right: 0;
}

.cart-button {
  /*position: absolute;*/
  z-index: 2;

  background: unset;
  border: unset;
  cursor: pointer;
}

.cart__name-price-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.cart__price {
  font: 700 16px/120% Eczar;
  color: #FFF;
  padding: 2px 6px;
  border-radius: 16px;
  background: #F73;
  margin-left: 8px;
  margin-bottom: 4px;
}

h2 {
  font: 700 32px/120% Eczar;
  color: #023A6B;
}

.cart__options-container {
  display: flex;
  max-width: 280px;

  flex-wrap: wrap;
  margin: 16px 0;
}

.cart__option-container {
  display: flex;
  align-items: center;
}

.cart__option-container:nth-child(2) {
  margin-left: 16px;
}

.cart__option-container:last-child {
  margin-top: 16px;
  margin-bottom: 8px;
}

.cart-item-option-container {
  display: flex;
  width: 60px;
}

.cart-item-option-container img {
  margin-right: 8px;
}

input[type="radio"], input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 12px;
}

input[type="radio"]:checked {
  background-color: #FF7733;
  border: 4px solid white;
}

input[type="checkbox"]:checked {
  background-color: white;
  border: 8px solid #FFBD5C;
}

input[type="checkbox"]:checked::before {
  content: "";
  display: inline-block;

  width: 12px;
  height: 12px;
  border-radius: 100px;

  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.cart__buttons-container {
  display: flex;
  align-items: center;
}
.buttons-container img {
  margin-left: 16px;
  cursor: pointer;
}



.cart__prm-btn {
  border-radius: 64px;
  border: 2px solid #FFBD5C;
  padding: 16px 24px;

  color: #023A6B;
  font: 700 14px/114.286% "Open Sans", sans-serif;
  text-transform: uppercase;
  background: unset;
  cursor: pointer;
  transition: 0.5s;
}

/*.minus-btn:hover img {*/
/*  content: url("assets/Minus2.svg");*/
/*}*/

/*.plus-btn:hover img {*/
/*  content: url("assets/Plus2.svg");*/
/*}*/
.minus-btn, .plus-btn {
  margin-top: 2px;
}
.minus-btn:hover  img{
  content: url("/assets/Minus2.svg");
}
.plus-btn:hover  img{
  content: url("/assets/Plus2.svg");
}

.cart__info-button {
  transition: 0.3s;
  margin-left: 16px;
}

.cart__info-button:hover {
  transform: scale(1.1);
}

.cart__img-container {
  position: relative;
}

.cart__stamp {
  position: absolute;
  right: 40px;
  bottom: 16px;
  animation: rotate 5600ms ease-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}


@media only screen and (max-width: 769px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .cart:last-child {
    margin-top: 64px;
  }

}

@media only screen and (max-width: 412px) {
  .Logo {
    height: 34px;
  }

  .cart__stamp {
    position: absolute;
    right: 80px;
    bottom: 16px;
    animation: rotate 5600ms ease-out infinite;
  }

  .cart__article-shape {
    width: 100%;
    border: 1px solid white;
    margin-top: 32px;
  }

  .container-padding {
    margin-bottom: unset;
  }

  .container {
    padding: 24px;
    margin: 8px auto 0;
  }

  .product-list {
    margin-top: 40px;
  }

  .cart {
    margin-top: 40px;
    max-width: unset;
    width: 100%;
  }

  .cart:nth-child(2) {
    margin-top: 40px;
  }

  .cart:last-child {
    margin-bottom: 32px;
    margin-top: 40px;
  }
  .cart:last-child  .cart__article-shape {
    border: 0;
  }

  h2 {
    font: 700 24px/120% Eczar;
    color: #023A6B;
  }
}

.cart__quantity-container {
  width: 141px;

  display: flex;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  border-radius: 50px;
  border: 2px solid  #FFBD5C;
  background: #FEF2E8;

}


.quanity-counter-product {
  z-index: 1;
  width: 32px;
  text-align: center;
  background: unset;
  border: unset;
}



.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*.modal-background {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: rgba(0, 0, 0, 0.5);*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  z-index: 999;*/
/*}*/

/*.modal-content {*/
/*  background-color: #fff;*/
/*  padding: 20px;*/
/*  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
/*  max-width: 400px;*/
/*}*/

/*.modal-content button {*/
/*  margin-top: 10px;*/
/*}*/
.modal {
  padding: 48px 40px 48px 40px;
  z-index: 9999; /* Removed !important */

  position: fixed;
  overflow: auto;

  top: 0;
  right: 0;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.08);
  bottom: 0;
  background: #fff;
}

.modal::-webkit-scrollbar {
  width: 0;
}

/*h2 {*/
/*  color: #023A6B;*/
/*  font-family: Eczar;*/
/*  font-size: 40px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: 120%;*/
/*  margin-right: 8px;*/
/*}*/

/*.modal-name-container {*/
/*  margin-bottom: 32px;*/
/*  display: flex;*/

/*}*/

/*.modal-price {*/
/*  height: fit-content;*/
/*  padding: 2px 6px;*/
/*  color: #FFF;*/
/*  font-family: Eczar;*/
/*  font-size: 24px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: 120%;*/
/*  border-radius: 16px;*/
/*  background: #F73;*/
/*}*/

/*.modal-img {*/
/*  width: 320px;*/
/*  height: 267px;*/
/*}*/

/*.list-container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/

/*  color: #023A6B;*/
/*  font-family: Open Sans;*/
/*  font-size: 14px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: 120%; !* 16.8px *!*/
/*}*/

/*.list-number {*/
/*  color: #F73;*/
/*  font-family: Open Sans;*/
/*  font-size: 14px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: 120%; !* 16.8px *!*/
/*}*/

/*.modal-shape {*/
/*  width: 100%;*/
/*  border: 2px solid #F0F0F0;*/
/*  margin-bottom: 24px;*/
/*  margin-top: 16px;*/
/*}*/
/*.modal-shape:first-child {*/
/*  margin-top: 32px;*/
/*}*/
/*.modal-shape:last-child{*/
/*  margin-bottom: 16px;*/
/*}*/
/*.list-container {*/
/*  margin-top: 16px;*/
/*}*/
/*.list-container:first-child {*/
/*  margin-top: 0;*/
/*}*/
/*.prm-button {*/
/*  width: 100%;*/
/*  padding: 16px 24px;*/
/*  color: #023A6B;*/
/*  text-align: center;*/
/*  background: unset;*/
/*  font-family: "Open Sans", sans-serif;*/
/*  font-size: 14px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: 16px; !* 114.286% *!*/
/*  text-transform: uppercase;*/
/*  z-index: 200;*/
/*  border-radius: 64px;*/
/*  border: 2px solid #F73;*/
/*  margin-top: 80px;*/
/*}*/

