<article class="cart">
  <div class="cart__img-container">
    <img [src]="data.img" alt="Product2" class="cart__img">
    <ng-container *ngIf="data.spinnerImg">
      <img [src]="data.spinnerImg" alt="Product1" class="cart__stamp">
    </ng-container>
  </div>

  <div class="cart__name-price-container">
    <h2 class="cart__name">{{ data?.name }}</h2>
    <span class="cart__price">${{ data.discount }}</span>
  </div>
  <!-- Add form tag to wrap the form elements -->
  <form #cartForm="ngForm">
    <div class="cart__options-container">
      <div class="cart__option-container">
        <input type="radio" [name]="data.radioName" [id]="data.radioId1" value="250" [(ngModel)]="radioValue" (change)="sendMessageRadioButton(data.index)">
        <label [for]="data.radioId1" class="cart__label">250 ml</label>
      </div>



      <div class="cart__option-container">
        <input type="radio" [name]="data.radioName" [id]="data.radioId2" value="500" [(ngModel)]="radioValue" (change)="sendMessageRadioButton(data.index)">
        <label [for]="data.radioId2" class="cart__label">500 ML</label>
      </div>

      <div class="cart__option-container">
        <input type="checkbox" [id]="data.checkBoxName" name="Sugar" [(ngModel)]="checkBoxValue" (change)="sendMessageSugar(data.index)">
        <label [for]="data.checkBoxName" class="cart__label">Add sugar</label>

      </div>
    </div>
  </form>

  <div class="cart__buttons-container">
<!--    <app-button (click)="addNewItem(data.index)" ></app-button>-->

    <div class="cart__quantity-container" *ngIf="showQuantityContainer">
      <button type="button" (click)="addNewItem(decreaseQuantity())" class="cart-button button-left">
        <img src="assets/Minus.svg" alt="Minus">
      </button>
      <input type="number" [(ngModel)]="quantity" name="quantity" class="quanity-counter-product">
      <button type="button" (click)="addNewItem(increaseQuantity())" class="cart-button button-right">
        <img src="assets/Plus.svg" alt="Minus">
      </button>
    </div>

    <button class="cart__prm-btn" (click)="addNewItem(data)" *ngIf="hideButton">Add to cart</button>
    <img src="assets/Info.svg" alt="Info" class="cart__info-button">
  </div>

</article>
<div class="cart__article-shape"></div>

